<aside class="w-64 ease-linear" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 bg-gray-50 dark:bg-gray-800">
    <ul class="mb-0 list-unstyled">
      <li class="mt-8">
        <h5
          class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white"
        >
          Components
        </h5>
        <ul class="py-1 list-unstyled fw-normal small">
          <li>
            <a
              href="/docs/components/alerts/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Alerts
            </a>
          </li>
          <li>
            <a
              href="/docs/components/accordion/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Accordion
            </a>
          </li>
          <li>
            <a
              href="/docs/components/avatar/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Avatar
            </a>
          </li>
          <li>
            <a
              href="/docs/components/badge/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Badge
            </a>
          </li>
          <li>
            <a
              href="/docs/components/breadcrumb/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Breadcrumb
            </a>
          </li>
          <li>
            <a
              href="/docs/components/buttons/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Buttons
            </a>
          </li>
          <li>
            <a
              href="/docs/components/button-group/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Button group
            </a>
          </li>
          <li>
            <a
              href="/docs/components/card/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Card
            </a>
          </li>
          <li>
            <a
              href="/docs/components/carousel/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Carousel
            </a>
          </li>
          <li>
            <a
              href="/docs/components/dropdowns/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Dropdowns
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/forms/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Forms
            </a>
          </li>
          <li>
            <a
              href="/docs/components/list-group/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >List Group
            </a>
          </li>
          <li>
            <a
              href="/docs/components/typography/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Typography
            </a>
          </li>
          <li>
            <a
              href="/docs/components/modal/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Modal
            </a>
          </li>
          <li>
            <a
              href="/docs/components/tabs/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Tabs
            </a>
          </li>
          <li>
            <a
              href="/docs/components/navbar/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Navbar
            </a>
          </li>
          <li>
            <a
              href="/docs/components/mega-menu/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Mega menu
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/footer/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Footer
            </a>
          </li>
          <li>
            <a
              href="/docs/components/sidebar/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white text-blue-700 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-500"
              aria-current="page"
              >Sidebar
            </a>
          </li>
          <li>
            <a
              href="/docs/components/drawer/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Drawer
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/skeleton/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Skeleton
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/pagination/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Pagination
            </a>
          </li>
          <li>
            <a
              href="/docs/components/rating/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Rating
            </a>
          </li>
          <li>
            <a
              href="/docs/components/timeline/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Timeline
            </a>
          </li>
          <li>
            <a
              href="/docs/components/video/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Video
            </a>
          </li>
          <li>
            <a
              href="/docs/components/kbd/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >KBD
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/progress/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Progress
            </a>
          </li>
          <li>
            <a
              href="/docs/components/popover/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Popover
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/tables/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Tables
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/components/spinner/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Spinner
            </a>
          </li>
          <li>
            <a
              href="/docs/components/toast/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Toast
            </a>
          </li>
          <li>
            <a
              href="/docs/components/tooltips/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Tooltips
            </a>
          </li>
        </ul>
      </li>
      <li class="mt-8">
        <h5
          class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white"
        >
          Forms
        </h5>
        <ul class="py-1 list-unstyled fw-normal small">
          <li>
            <a
              href="/docs/forms/input-field/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Input Field
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/file-input/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >File Input
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/search-input/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Search Input
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/select/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Select
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/textarea/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Textarea
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/checkbox/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Checkbox
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/forms/radio/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Radio
              <span
                class="bg-blue-100 text-blue-800 text-2xs font-semibold ml-2 px-1.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900"
                >NEW</span
              ></a
            >
          </li>
          <li>
            <a
              href="/docs/forms/toggle/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Toggle
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/range/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Range
            </a>
          </li>
          <li>
            <a
              href="/docs/forms/floating-label/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Floating Label
            </a>
          </li>
        </ul>
      </li>
      <li class="mt-8">
        <h5
          class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white"
        >
          Typography
        </h5>
        <ul class="py-1 list-unstyled fw-normal small">
          <li>
            <a
              href="/docs/typography/headings/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Headings
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/paragraphs/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Paragraphs
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/blockquote/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Blockquote
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/images/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Images
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/lists/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Lists
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/links/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Links
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/text/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Text
            </a>
          </li>
          <li>
            <a
              href="/docs/typography/hr/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >HR
            </a>
          </li>
        </ul>
      </li>
      <li class="mt-8">
        <h5
          class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white"
        >
          Plugins
        </h5>
        <ul class="py-1 list-unstyled fw-normal small">
          <li>
            <a
              href="/docs/plugins/datepicker/"
              data-sidebar-item=""
              class="py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
              >Datepicker
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
