<%- include('./config/head');%>
<body class="bg-white dark:bg-slate-900">
  <!-- navbar  -->
  <%- include('./config/navbar');%>
  <!-- title -->
  <%= title%>
  <!-- footer  -->
  <%- include('./config/footer'); %>
  <!-- script  -->
    <script src="js/config.js"></script>
  </body>
</html>
