<%- include('./config/head');%>
<body class="bg-white dark:bg-slate-900">
  <!-- navbar  -->
  <%- include('./config/navbar');%>
 <!-- our tema  -->
  <%- include('./components/pages/ourteam',{data:data});%>
  <!-- footer  -->
  <%- include('./config/footer'); %>
  <!-- script  -->
    <script src="js/config.js"></script>
  </body>
</html>
